/project/project/bin/Debug/project.exe
/project/project/bin/Debug/project.pdb
/project/project/bin/Debug/project.vshost.exe
/project/project/obj/Debug/project.exe
/project/project/obj/Debug/project.pdb
